{% extends "template.html" %}

{% block title %}ReRSS Feeds{% endblock %}

{% block body %}
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Feed</td>
              <td>Remove</td>
            </tr>
          </thead>
          <tbody>
            {% for f in feeds %}
            <tr id="row{{ f.key.id }}">
              <td><a href="{% url 'feed' key=f.key.id %}"><abbr title="{{ f.link }}">{{ f.title }}</abbr></a></td>
              <td><a href="#" onclick="remove({{ f.key.id }})"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            {% empty %}
            <tr id="empty">
              <td colspan="2">No feeds are subscribed.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br/>
        <form id="addForm" action="#">
          <input class="form-control" type="text" name="add" id="add" placeholder="Add a feed..."/>
          {% csrf_token %}
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>
      </div>
{% endblock %}
