<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReRSS{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/rerss.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/feed-icon-14x14.png"/>  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ReRSS</a>
        <ul class="nav navbar-nav">
          <li{% block feeds_class %}{% endblock %}><a href="{% url 'feeds' %}">feeds</a></li>
          <li{% block about_class %}{% endblock %}><a href="{% url 'about' %}">about</a></li>
          {#<li{% block contact_class %}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>#}
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-anchor">Welcome, {{ user.nickname }}.</li>
        </ul>
      </div>
    </div>
    <div class="container">
{% block body %}{% endblock %}
    </div>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/rerss.js"></script>
  </body>
</html>
